body {
  background-color: darkturquoise;
  font-family: "Verdana", monospace;
  color: darkviolet;
}
h1, h2, h3, h4 {
  text-align: center;
}
h1 {
  color: dodgerblue;
}
h2 {
  color: limegreen;
}
h3 {
  color: palevioletred;
}
h4 {
  color: deeppink;
}
img {
  background-color: white;
}
img {
  width: 300px;
}
ul.tab {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: orchid;
}
ul.tab li {
  float: left;
}
ul.tab li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}
ul.tab li a:hover {
  background-color: mediumorchid;
}
ul.tab li a:focus, .active {
  background-color: darkorchid;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
