body {
  /*background-image: url("https://pixabay.com/static/uploads/photo/2016/01/15/23/17/background-1142632_960_720.jpg");*/
  font-family: "Verdana", monospace;
  color: darkturquoise;
}
h1, h2, h3, h4 {
  text-align: center;
}
h1 {
  color: black;
}
h2 {
  color: navy;
}
h3 {
  color: limegreen;
}
h4 {
  color: darkviolet;
}
img {
  background-color: white;
}
img {
  width: 300px;
}
ul.tab {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
ul.tab li {
  float: left;
}
ul.tab li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}
ul.tab li a:hover {
  background-color: #ddd;
}
ul.tab li a:focus, .active {
  background-color: #ccc;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
