body {
  background-image: url("https://pixabay.com/static/uploads/photo/2016/01/15/23/17/background-1142632_960_720.jpg");
  font-family: "Verdana", monospace;
  color: white;
}
h1 {
  color: black;
}
h2 {
  color: navy;
}
h3 {
  color: limegreen;
}
h4 {
  color: darkviolet;
}
img {
  background-color: white;
}
img {
  width: 300px;
}
.nav > div {
  background: darkturquoise;
  color: white;
  font-family: "Verdana", monospace;
  border: 2px blue solid;
  border-radius: 4px;
  text-align: center;
  float: left;
  padding: 10px;
  margin: 10px;
  width: 100px;
}

.nav > div:hover {
  background: cornflowerblue;
}
