body {
  background-image: url("https://pixabay.com/static/uploads/photo/2016/01/15/23/17/background-1142632_960_720.jpg");
  font-family: "Verdana", monospace;
  color: white;
}
img {
  background-color: white;
}
#hp-books {
  width: 200px;
}
